<div class="content">
  <h1>Felicitări, ai rezolvat toate ghicitorile!</h1>
  <button mat-flat-button color="primary" routerLink="/homeview">
    Reîncepeți
  </button>
  <div class="foot">
    <div class="quote">
      <span class="bold"
        >Copilul râde: -
        <span class="italic">“ Înţelepciunea şi iubirea mea e jocul. ” </span>
      </span>
      <br />
      <span class="author">( LUCIAN BLAGA )</span>
    </div>
    <p class="credits">
      <br />
      Ghicitorile, aceste mici construcţii metaforice sunt desprinse din
      cotidianul nostru permanent. Un joc de cuvinte îmbinate <br />
      cu ritm şi culoare care dă substanţă celei mai pure părţi din efemera
      noastră trecere prin viaţă – <span class="bold">Copilăria</span>.
      <br />
      Cunoscând locul pe care îl ocupă jocul în viaţa copilului, este uşor de
      înţeles eficienţa folosirii lui în procesul instructiv-educativ ceea ce
      <br />
      m-a condus la realizarea unui sofware care are la bază ghicitorile din
      cartea mea, intitulată <br />
      <span class="bold">„G h i c i, pentru cei mici!”</span>, Editura
      Concordia, Arad, 2017, scrisă pentru elevii clasei pregătitoare. <br />
      Softurile educaţionale, percepute de elevi ca nişte jocuri pe calculator,
      contribuie la dezvoltarea gândirii logice, <br />
      a memoriei vizuale şi a atenţiei voluntare şi conduc la atingerea unui
      scop didactic. <br />
      Acest soft dă micului elev posibilitatea să exerseze cititul, să scrie
      folosind tastatura calculatorului, să printeze şi să coloreze. <br />
      Copiilor le place mai mult să înveţe prin intermediul softurilor
      educaţionale, decât prin metode tradiţionale, acestea contribuind la
      <br />
      dezvoltarea unor atitudini pozitive faţă de învăţare şi la îmbunăţătirea
      rezultatelor obţinute.
      <br>
      <span class="bold">Prof.înv.primar Daniela Contraş</span>
    </p>
  </div>
</div>
