.content-pane {
  width: 100vw;
  height: 100vh;
  text-align: center;
  vertical-align: middle;
  place-items: center;
  background: url('../../assets/background.png') no-repeat center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.view-lines-wrapper {
  padding: 2rem;
  border-style: solid;
  border-width: 5px;
  border-color: black;
  border-radius: 50px;
  background: #ffffffaa;
}
.view-line {
  font-family: 'BlackChancery';
  font-size: 60pt;
}
.answer-form {
  width: 100%;
  margin-top: 30px;
  text-align: center;
  .answer-form-field {
    min-width: 620px;
    max-width: 1020px;
    font-size: 18pt;
    font-weight: 700;
    color: white;
  }
}
.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  min-width: 620px;
  max-width: 1020px;
  margin-left: 10%;
  margin-right: 10%;
}
.button-primary {
  background: url('../../assets/primaryButton.png') no-repeat;
  text-align: center;
  background-size: cover;
  color: white;
  font-size: 18pt;
  width: 200px;
  height: 80px;
}
.button-warn {
  background: url('../../assets/successButton.png') no-repeat;
  text-align: center;
  background-size: cover;
  color: white;
  font-size: 18pt;
  width: 200px;
  height: 80px;
}
