.content {
  width: 100vw;
  height: 100vh;
  max-width: 100%;
  max-height: 100%;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-family: 'BlackChancery';
  h1 {
    font-size: 60pt;
    font-weight: 600;
  }
  h2 {
    font-size: 36pt;
  }
  .cover {
    font-size: 60pt;
  }
  button {
    background: url('../../assets/primaryButton.png') no-repeat;
    text-align: center;
    background-size: cover;
    color: white;
    font-size: 18pt;
    width: 200px;
    height: 80px;
    z-index: 5;
  }
  .foot {
    position: fixed;
    left: 2%;
    bottom: 2%;
    display: flex;
    font-size: 10pt;
    text-align: left;
    width: 25rem;
    .bold {
      font-weight: 600;
    }
  }
}
