<div class="content">
  <h2 class="author"> Daniela Simona Contraş</h2>
  <div class="cover">
    <img src="./assets/coperta.jpg" alt="Cover picture">
  </div>
  <h1 class="title">Ghici, pentru cei mici!</h1>
  <button mat-flat-button color="primary" routerLink="/riddleview">
    Start
  </button>
  <div class="foot">
    <p class="copyrights">
      Sofware-ul are la bază ghicitorile din cartea mea, intitulată
      <span class="bold">„G h i c i, pentru cei mici!”</span>, <br />
      Editura Concordia, Arad, 2017, scrisă pentru elevii clasei pregătitoare,
      iar desenele liniare au ca sursă internetul. <br />Acest soft educaţional
      dă micului elev posibilitatea să exerseze cititul, să scrie folosind
      tastatura calculatorului, să printeze şi să coloreze.
    </p>
  </div>
</div>
